@use 'vendors';
$toolbar-height: 64px;
$toolbar-height-mobile: 56px;

.app {
    &__content {
        @include vendors.spread(margin, 10px 0, 50px 0);
        @include vendors.spread(width, 90vw, 50vw);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    &__content-wrapper {
        background-image: url('/assets/weather.jpeg'), url('/asaf-regev-06-03-2021/assets/weather.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
        min-height: calc(100vh - #{$toolbar-height});
        @include vendors.media('<=xs') {
            min-height: calc(100vh - #{$toolbar-height-mobile});
        }
        display: flex;
        justify-content: center;
    }
}